nav {
  background: #406bae;
  color: white;
  padding: 0 0.5rem;
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 5rem;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
    }
  }
}
